.wrapper, body{
    margin: 2px;
    background-color: #78281F ;
    color: #fff;
    font-family: URW Chancery L, cursive;
    text-align: center;
}
.wrapper{
    width: 95%;
    margin: auto;
}
.btn{
    padding: 7px;
    border: 3px solid grey;
    font-size: 20px;
    font-family: URW Chancery L, cursive;
}
.title{
    font-size: 40px;
}
.search{
    margin: auto;
}
#search{
    width: 500px;
    height: 40px;
    border: 3px solid grey;
    font-size: 25px;
    font-family: URW Chancery L, cursive;
}
.recipeBox{
    margin: 1px;
}

.box{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #fff;
    /* border: 5px solid white; */
    min-height: 200px;
    min-width: 210px;
    margin: 10px;
    padding: 5px;
    font-family: URW Chancery L, cursive;
}
.box2{
    display: inline-block;
    min-width: 220px;
}
img{
    width: 200px;
}
footer{
    background-color: black;
}
